@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "GothamPro";
  color: #343434;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

body.fixed {
  overflow: hidden;
  padding-right: 15px;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #343434;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #343434;
}

::-moz-selection {
  color: #fff;
  background-color: #343434;
}

::selection {
  color: #fff;
  background-color: #343434;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #343434;
}

a:hover {
  color: #CB0909;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #343434;
}

textarea {
  resize: none !important;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #343434;
}

textarea::-moz-placeholder {
  color: #343434;
}

textarea:-ms-input-placeholder {
  color: #343434;
}

textarea::-ms-input-placeholder {
  color: #343434;
}

textarea::placeholder {
  color: #343434;
}

input,
textarea,
select {
  color: #343434;
  font-family: "GothamPro";
  font-size: 13px;
  padding: 12px 25px;
  border-radius: 2px;
  border: none;
  border: 1px solid #343434;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #343434;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
  color: #343434;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #343434;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #343434;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #343434;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #343434;
  border-color: #CB0909;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.select__wrp {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.select__wrp::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/select__arr.png") no-repeat 50% 50%/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
}

.select__wrp select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 40px 8px 12px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__wrp select option {
  width: 100%;
}

.select__wrp:hover::before {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.input__wrp {
  position: relative;
}

.input__wrp input,
.input__wrp select,
.input__wrp textarea {
  width: 100%;
  padding-left: 40px;
  background-color: transparent;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 17px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name::before {
  background-image: url("../img/icon__form-name.svg");
}

.input__wrp_mail::before {
  background-image: url("../img/icon__form-mail.svg");
}

.input__wrp_tel::before {
  background-image: url("../img/icon__form-tel.svg");
}

.input__wrp_text::before {
  top: 14px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  background-image: url("../img/icon__form-mes.svg");
}

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs-acc__btn {
  display: none;
  width: 100%;
  padding: 12px 25px;
  background-color: #E0E0E0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
}

.tabs-acc__btn.active {
  background-color: #ccc;
  color: #fff;
}

.tabs-acc__cnt {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.red {
  color: #9B0606;
}

.wt {
  color: #fff;
}

a.wt {
  color: #fff !important;
}

a.wt:hover {
  color: #CB0909 !important;
}

.black {
  color: #000;
}

.bold {
  font-family: "GothamPro-Bold";
}

.med {
  font-family: "GothamPro-Medium";
}

.reg {
  font-family: "GothamPro";
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.ttn {
  text-transform: none !important;
}

.btn {
  position: relative;
  font-size: 13px;
  font-family: "GothamPro-Bold";
  letter-spacing: .5px;
  text-align: center;
  display: inline-block;
  outline: none;
  padding: 12px 20px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #fff;
  background-color: #343434;
  border: 1px solid #343434;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn:hover {
  color: #fff;
  background-color: #9B0606;
  border-color: #9B0606;
}

.btn_white {
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #343434;
          box-shadow: inset 0px 0px 0px 2px #343434;
  color: #343434;
}

.btn_white:hover {
  background-color: #9B0606;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn_red {
  border-color: #9B0606;
  background-color: #9B0606;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn_red:hover {
  border-color: #CB0909;
  background-color: #CB0909;
}

.fancybox-container * {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs-acc__btn {
  display: none;
  width: 100%;
  padding: 12px 25px;
  background-color: #E0E0E0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
}

.tabs-acc__btn.active {
  background-color: #ccc;
  color: #fff;
}

.tabs-acc__cnt {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #9B0606;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #9B0606;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #9B0606;
  left: 0;
  top: 4px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #9B0606;
  left: 0;
  top: 6px;
}

.list_num {
  padding-left: 0;
  counter-reset: list1;
}

.list_num li {
  list-style-type: none;
}

.list_num li {
  margin-bottom: 10px;
}

.list_num li::before {
  counter-increment: list1;
  content: counter(list1);
  color: #9B0606;
  font-size: 16px;
  font-family: "GothamPro-Bold";
  margin-right: 15px;
}

.fancybox-slide--html {
  padding: 0;
}

.popup__container {
  padding: 43px 15px 0;
  background-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .popup__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.popup__container .fancybox-close-small {
  top: 0;
  right: 2px;
  padding: 0;
}

.popup__container .fancybox-close-small svg path {
  fill: #fff;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 770px;
}

.popup__container .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #343434;
  padding: 30px 25px 30px;
  text-align: center;
  overflow: hidden;
}

.popup__container .popup .section__ttl {
  line-height: 1;
}

.popup__container .popup .checkbox {
  text-align: left;
  max-width: 410px;
}

.popup__container .popup__captcha {
  width: 270px;
  height: 72px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/captcha.jpg");
}

.popup__container .popup_call__wrp {
  max-width: 570px;
}

.popup__container .popup_call__wrp .btn {
  max-width: 370px;
  width: 100%;
}

.popup__container .popup_call__col {
  max-width: 370px;
  width: 100%;
}

.popup__container .popup_success__wrp {
  max-width: 770px;
}

.popup__container .popup_success__wrp .popup {
  min-height: 181px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__container .popup_success__wrp span {
  color: #27AE60;
}

.popup__container .popup_coop__wrp {
  max-width: 970px;
}

.popup__container .popup_coop__wrp .btn {
  width: 264px;
}

.popup__container .popup_order__wrp {
  max-width: 570px;
}

.popup__container .popup_order__wrp .btn {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  background-color: #DDDDDD;
  position: relative;
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  border-color: #343434;
  background-color: #9B0606;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 0;
  background-color: #343434;
  border: 1px solid #343434;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  max-width: 17px;
  max-height: 17px;
  height: auto;
  fill: none;
  stroke: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #9B0606;
  border-color: #9B0606;
}

.owl-carousel .owl-nav button.owl-prev:hover svg,
.owl-carousel .owl-nav button.owl-next:hover svg {
  stroke: #fff;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -webkit-calc(-57px/2);
  left: calc(-57px/2);
}

.owl-carousel .owl-nav button.owl-next {
  right: -webkit-calc(-57px/2);
  right: calc(-57px/2);
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 38px;
  font-family: "GothamPro-Bold";
  letter-spacing: 1px;
  margin-bottom: 35px;
  text-align: center;
}

.section__decor {
  z-index: 1;
}

.section__decor::before, .section__decor::after {
  position: absolute;
  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #343434;
  left: 50%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.section__decor::before {
  width: 104px;
  height: 5px;
  top: 0;
}

.section__decor::after {
  width: 30px;
  height: 1px;
  top: 7px;
}

.section__decor_red::before, .section__decor_red::after {
  background-color: #9B0606;
}

.section__decor_white::before, .section__decor_white::after {
  background-color: #fff;
}

.section__decor:hover::after {
  width: 104px;
}

.header {
  color: #fff;
  background-color: #343434;
  padding: 15px 0;
}

.header__cont {
  color: #fff;
}

.header__cont svg {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__cont:hover {
  color: #CB0909;
}

.header__cont:hover svg {
  fill: #CB0909 !important;
}

.header__logo {
  font-family: "GothamPro-Bold";
  font-size: 20px;
  color: #343434;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #DDDDDD;
}

.header__search-bar {
  position: relative;
  width: 100%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.header__search-query {
  color: #fff !important;
  background-color: transparent;
  border-color: transparent !important;
}

.header__search-query::-webkit-input-placeholder {
  color: #fff !important;
}

.header__search-query::-moz-placeholder {
  color: #fff !important;
}

.header__search-query:-ms-input-placeholder {
  color: #fff !important;
}

.header__search-query::-ms-input-placeholder {
  color: #fff !important;
}

.header__search-query::placeholder {
  color: #fff !important;
}

.header__search-opt {
  position: relative;
  color: #fff;
  padding: 12px;
  padding-right: 20px;
}

.header__search-opt::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.header__search-opt svg {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.header__search-opt:hover {
  color: #CB0909;
}

.header__search-opt:hover svg {
  fill: #CB0909 !important;
}

.header__search-pop {
  position: absolute;
  top: 48px;
  right: 0;
  width: 290px;
  padding: 25px 15px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  color: #343434;
  z-index: 2;
  display: none;
}

.header__search-pop input {
  max-width: 90px;
  padding: 8px 10px;
}

.header__search-btn {
  -webkit-box-shadow: inset 0px 0px 0px 2px #343434;
          box-shadow: inset 0px 0px 0px 2px #343434;
}

.nav__wrp {
  background-color: #F9F6F6;
  padding: 12px 0;
}

.nav__link {
  font-family: "GothamPro-Bold";
  position: relative;
  color: #000;
  padding: 12px 15px;
  display: block;
}

.nav__link::before, .nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.nav__link::before {
  height: 8px;
  background-color: #9B0606;
  bottom: -12px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.nav__link::after {
  height: 1.5px;
  background-color: #fff;
  bottom: -10px;
  -webkit-transition: .7s all ease-in-out;
  -o-transition: .7s all ease-in-out;
  transition: .7s all ease-in-out;
}

.nav__link:hover {
  color: #9B0606;
}

.nav__link:hover::before, .nav__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-cat {
  position: relative;
}

.nav-cat__btn {
  color: #343434;
  background-color: #fff;
  border: 1px solid #343434;
  border-radius: 2px;
  padding: 1px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.nav-cat__btn-ttl {
  position: relative;
  height: 40px;
  font-family: "GothamPro-Bold";
  padding-left: 5px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.nav-cat__btn-ttl::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #343434;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.nav-cat__btn-ttl span {
  position: relative;
}

.nav-cat__btn-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #343434;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.nav-cat__btn-icon > span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.nav-cat__btn-icon::before, .nav-cat__btn-icon::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-cat__btn-icon::before {
  top: 12px;
}

.nav-cat__btn-icon::after {
  bottom: 12px;
}

.nav-cat__btn:hover .nav-cat__btn-icon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-cat__btn:hover .nav-cat__btn-ttl {
  color: #fff;
}

.nav-cat__btn:hover .nav-cat__btn-ttl::before {
  left: -1px;
  width: 100%;
}

.nav-cat.active .nav-cat__btn-icon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-cat.active .nav-cat__btn-ttl {
  color: #fff;
}

.nav-cat.active .nav-cat__btn-ttl::before {
  left: -1px;
  width: 100%;
}

.nav-cat__list {
  position: absolute;
  left: 0;
  width: 540px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}

.nav-cat__link {
  font-family: "GothamPro-Bold";
  font-size: 16px;
  text-decoration: underline;
}

.nav-cart {
  position: relative;
}

.nav-cart__btn {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #9B0606;
  border: 1px solid #9B0606;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.nav-cart__btn svg {
  margin-right: 3px;
}

.nav-cart__val {
  position: absolute;
  font-size: 10px;
  font-family: "GothamPro-Bold";
  text-align: center;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -2px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-cart:hover .nav-cart__btn {
  background-color: #343434;
  border-color: #343434;
}

.banner {
  overflow: hidden;
}

.banner__item {
  position: relative;
}

.banner__item-in {
  min-height: 370px;
  opacity: 0;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.banner__ttl {
  font-size: 45px;
  max-width: 470px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.banner__img {
  position: absolute;
  width: 857px;
  height: 300px;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner .owl-item.active .banner__item-in {
  opacity: 1;
}

.banner .owl-dots {
  bottom: 20px;
}

.banner__bar {
  background-color: #9B0606;
}

.banner__bar-item {
  position: relative;
  width: 100%;
  min-height: 111px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #DDDDDD;
  border-left: 1px solid #9B0606;
  border-right: 1px solid #9B0606;
}

.banner__bar-item-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.banner__bar-item-ttl {
  position: relative;
  color: #343434;
  font-family: "GothamPro-Bold";
}

.banner__bar-item::before {
  position: absolute;
  content: '';
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.banner__bar-item:hover::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.banner__bar-item_excl {
  background-color: #CB0909;
}

.banner__bar-item_excl::before {
  width: 100%;
  height: 100%;
  background: -o-radial-gradient(center, ellipse, #ff4951 0%, rgba(155, 1, 1, 0.7) 51%, rgba(0, 0, 0, 0.32) 65%, #1d0101 100%);
  background: radial-gradient(ellipse at center, #ff4951 0%, rgba(155, 1, 1, 0.7) 51%, rgba(0, 0, 0, 0.32) 65%, #1d0101 100%);
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: .25 !important;
}

.banner__bar-item_excl .banner__bar-item-ttl {
  color: #fff;
}

.banner__bar-item_excl:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.main-cat {
  position: relative;
}

.main-cat__item {
  width: 100%;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.main-cat__item-img {
  width: 95%;
  height: 110px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main-cat__item-img-wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  border-left: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.main-cat__item-ttl {
  font-family: "GothamPro-Bold";
  font-size: 16px;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F9F6F6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.main-cat__item:hover .main-cat__item-img {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}

.main-cat__item:hover .main-cat__item-img-wrp {
  border-color: #CB0909;
}

.main-cat__item:hover .main-cat__item-ttl {
  color: #fff;
  background-color: #CB0909;
}

.hit {
  position: relative;
  background-color: #F9F6F6;
}

.hit__item {
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  padding: 30px 25px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hit__item-img {
  width: 100%;
  height: 150px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.hit__item-img:hover {
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}

.hit__item-ttl {
  font-size: 16px;
  margin-bottom: 12px;
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hit__item-price {
  font-family: "GothamPro-Bold";
  font-size: 20px;
  margin-bottom: 12px;
}

.hit__item-fav {
  position: absolute;
  left: -13px;
  top: 8px;
  width: 70px;
  height: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9B0606;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  z-index: 1;
}

.hit__item-fav svg {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  margin-left: 10px;
  fill: #fff;
}

.hit__item-fav:hover {
  background-color: #CB0909;
  left: -8px;
}

.hit__item .btn {
  width: 100%;
}

.hit__item-wrp {
  position: relative;
}

.hit__item-wrp.hover {
  z-index: 2;
}

.hit__item-more {
  position: absolute;
  font-size: 16px;
  top: 0;
  right: -webkit-calc(-100% - 15px);
  right: calc(-100% - 15px);
  width: -webkit-calc(100% + 15px);
  width: calc(100% + 15px);
  height: 100%;
  padding: 30px 25px;
  background-color: #fff;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  z-index: 2;
  display: none;
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
}

.hit__item-more-click svg {
  fill: #343434;
}

.hit__item-more-click:hover {
  color: #9B0606;
}

.hit__item-more-click:hover svg {
  fill: #9B0606;
}

.hit__item-colors {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.hit__item-colors-item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.hit__item-colors-item:hover {
  border-color: #DDDDDD;
}

.hit__item-colors .owl-stage-outer {
  padding-bottom: 0 !important;
}

.hit__item-colors .owl-nav button.owl-prev, .hit__item-colors .owl-nav button.owl-next {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hit__item-colors .owl-nav button.owl-prev svg, .hit__item-colors .owl-nav button.owl-next svg {
  stroke: #343434;
}

.hit__item-colors .owl-nav button.owl-prev:hover, .hit__item-colors .owl-nav button.owl-next:hover {
  background-color: transparent;
}

.hit__item-colors .owl-nav button.owl-prev:hover svg, .hit__item-colors .owl-nav button.owl-next:hover svg {
  stroke: #9B0606;
}

.hit .owl-stage-outer {
  padding-bottom: 30px;
}

.hit .owl-dots {
  bottom: -40px;
}

.hit .owl-item.hover {
  z-index: 2;
}

.hit .owl-item.hover .hit__item {
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
}

.brand {
  position: relative;
  color: #fff;
  background-color: #343434;
}

.brand__item {
  width: 100%;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dddddd21;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.brand__item-img {
  width: 97px;
  height: 41px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.brand__item:hover {
  background-color: #9B0606;
  border-color: #9B0606;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
}

.brand__more-link {
  color: #fff;
  text-decoration: underline;
}

.brand__more-link svg {
  stroke: #fff;
}

.brand__more-link:hover svg {
  stroke: #CB0909;
}

.news {
  position: relative;
}

.news .section__ttl {
  position: relative;
  color: #9B0606;
  margin-right: 40px;
  line-height: 1.2;
}

.news .section__ttl::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #343434;
  right: -20px;
  bottom: 6px;
  height: 22px;
}

.news .section__subttl {
  font-family: "GothamPro-Bold";
  font-size: 30px;
  line-height: 1.2;
}

.news__item {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__item-img {
  width: 100%;
  height: 250px;
  -webkit-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px;
}

.news__item-date {
  color: #fff;
}

.news__item-date svg {
  fill: #fff;
}

.news__item-info {
  padding: 25px;
  background-color: #F9F6F6;
  border: 1px solid #DDDDDD;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.news__item-ttl {
  font-family: "GothamPro-Bold";
  font-size: 16px;
  margin-bottom: 12px;
}

.news .owl-nav button.owl-prev,
.news .owl-nav button.owl-next {
  margin-top: -120px;
}

.scribe {
  color: #fff;
  background-color: #9B0606;
  padding-top: 30px;
  padding-bottom: 40px;
}

.scribe .section__ttl {
  line-height: 1.2;
  text-align: left;
  max-width: 397px1;
}

.scribe__soc-item {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.scribe__soc-item svg {
  fill: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.scribe__soc-item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.scribe__soc-item:hover svg {
  fill: #9B0606;
}

.scribe__form input {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.scribe__form input::-webkit-input-placeholder {
  color: #fff !important;
}

.scribe__form input::-moz-placeholder {
  color: #fff !important;
}

.scribe__form input:-ms-input-placeholder {
  color: #fff !important;
}

.scribe__form input::-ms-input-placeholder {
  color: #fff !important;
}

.scribe__form input::placeholder {
  color: #fff !important;
}

.scribe__form input:focus {
  background-color: #343434;
  border-color: #343434;
}

.scribe__form .btn_white {
  -webkit-box-shadow: inset 0px 0px 0px 2px #9B0606;
          box-shadow: inset 0px 0px 0px 2px #9B0606;
}

.scribe__form .btn_white:hover {
  color: #fff;
  background-color: #343434;
  border-color: #343434;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

.scribe__form .checkbox a {
  color: #fff;
  text-decoration: underline;
}

.scribe__form .checkbox a:hover {
  text-decoration: none;
}

.scribe__form .checkbox .checkbox__text::before {
  background-color: transparent;
}

.scribe__form .checkbox .checkbox__text::after {
  background-color: #fff;
}

.scribe__form .checkbox input[type="checkbox"]:checked + .checkbox__text:before {
  background-color: transparent;
}

.steps {
  position: relative;
  background-color: #F9F6F6;
  overflow: hidden;
}

.steps__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__item:hover .steps__top {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.steps__top {
  font-family: "GothamPro-Bold";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.steps__num {
  font-size: 150px;
  line-height: 1;
  color: #9B0606;
  margin-right: 10px;
}

.steps__ttl {
  font-size: 20px;
  margin-bottom: 13px;
}

.found {
  position: relative;
}

.found__tel {
  font-family: "GothamPro-Bold";
  font-size: 24px;
  color: #9B0606;
}

.found svg {
  min-width: 13px;
  fill: #343434;
  margin-top: 3px;
}

.found .section__ttl {
  line-height: 1.1;
  text-align: left;
}

.seo-text {
  background-color: #F9F6F6;
}

.footer {
  color: #fff;
  background-color: #343434;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__top-ttl {
  font-family: "GothamPro-Bold";
  font-size: 18px;
}

.footer__top-ttl svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__top-link {
  text-decoration: underline;
  color: #ddddddbf;
}

.footer__top-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer__top-link:hover {
  color: #fff;
}

.footer__top-info {
  color: #ddddddbf;
}

.footer__top-info:not(:last-child) {
  margin-bottom: 8px;
}

.footer__logo {
  text-transform: uppercase;
  width: 125px;
  height: 53px;
  background-color: #555555;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.footer__soc-item {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc-item svg {
  fill: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__soc-item:hover {
  background-color: #9B0606;
  border-color: #9B0606;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.footer__soc-item:hover svg {
  fill: #fff;
}
